.env
.vscode/
.idea/
*/__pycache__/
*/.DS_Store
*/.ipynb_checkpoints/
*/.pytest_cache/
*/.mypy_cache/
*/.vscode/
*/.idea/
*/.env
*/.env.example
*/.gitignore
*/.git
*/.github
*/.gitmodules
*/.gitattributes
*/.gitkeep
*/.gitlab-ci.yml
*/.travis.yml
scraped_images/